.quote-text
  white-space: pre-line


.joined-inputs
  textarea
    box-shadow: none
    border-radius: 4px 4px 0 0
    border-bottom: 0

  input
    box-shadow: none
    border-radius: 0 0 4px 4px
    border-top-style: dashed


.spinner
  margin: 0 auto
  display: block
  height: 32px
  width: 32px
  background-repeat: no-repeat
  background-position: left center
  @extend %spinner

/* vim: set nowrap: */
